
<div class="header_top">
  
 <div class="logo">
  <a routerLink="/">
    <img src="../assets/image/logo-music.png" alt="">
</a>
</div>
 <div class="search">
  <div class="input-group">
    <input type="text" class="form-control input_search" [(ngModel)]="search_filter"  placeholder="Search Artists, songs, Albums"
     aria-label="Recipient's username" aria-describedby="button-addon2" (focus)="opensearch()" data-bs-toggle="modal" data-bs-target="#model2">
  </div>
 
  <div class="search_box_inner" [class.visited] = "open_search == true">
    <ul>
      <li class="song_detail" *ngFor="let song of songs | filter:search_filter "> 
                   
              <div class="song_img">
              <img [src]="song?.image_path" alt="">
              </div>
              <a [routerLink]="['songbox',song.id]" > 
              <div class="detail">
              <div class="song_name">
                  <small>{{song.title}}</small>
              </div>
              <div class="artist_name">
                  <small>{{song.category.name}}</small>
              </div>
              </div> 
            </a>                
      </li>
  </ul>
  </div>
  </div>
  <!-- <ng2-completer [(ngModel)]="search_filter" ></ng2-completer>
            
            <ng2-completer [(ngModel)]="search_filter" ></ng2-completer>`
 </div> -->
 <div class="login_box">
  <a title="profile" [ngClass]="['profile']" [ngStyle]="{'display': loging_s}">
    <img src="../assets/image/user.jpg" alt="" data-bs-toggle="dropdown" aria-expanded="false">
    <ul class="dropdown-menu">
      <li class="dropdown-item"><a routerLink="profile"><i class="fa-solid fa-user"></i> Profile</a></li>
      <li class="dropdown-item"><a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>   
  </a>
   <span [ngClass]="['login_text']" [ngStyle]="{'display': login_p}"
    data-bs-toggle="modal" data-bs-target="#exampleModal">login/sign up</span>

 </div>
</div>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#login">Login</a>
          </li>
          
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <!-- Tab panes -->
      <div class="tab-content">
       
        <div id="register" class="container tab-pane  active"><br>
          <app-regrister></app-regrister>
        </div>
        <div id="login" class="container tab-pane fade"><br>
          <app-login></app-login>
         </div>
      </div>
      </div>
    </div>
  </div>
</div>