<div class="container">
  <div class="row">
<div class="col-md-12">
  <h2 class="text-center m-3">Login</h2>
          <form [formGroup]="loginform" (ngSubmit)="logindata(loginform)">
            <div class="inputBox form-group mb-3">
               <input type="text" id="email" name="email" formControlName="email" placeholder="please enter your mobile number" class="form-control"/>
               <!-- <label><i class="fa fa-user"></i> MobileNo</label> -->
               <span class="text-danger" *ngIf="!email?.valid && (email?.touched || email?.dirty)" >
                   Please enter your mobile no
                </span>
            </div>
            <div class="inputBox form-group mb-3">
               <input type="password" id="password" name="password" formControlName="password" placeholder="please enter your password" class="form-control"/>
               <!-- <label><i class="fa fa-eye" aria-hidden="true"></i> Password</label>  -->
               <span class="text-danger" *ngIf="!password?.valid && (password?.touched || password?.dirty)" >
                   Please enter your password
                </span>
            </div>
            <button type="login" class="btn btn-primary btn-block mb-3"> Login </button>
            <div class="go_regster">Not a member yet?<br>
            <a routerLink="/home/register" title="Sign Up"> Sign Up For User</a><br>
            <div class="go_regster"><a routerLink="/" title="Sign Up" class="text-success"> Back To Home</a></div>
         </div>
         </form>
        </div>
      </div>
    </div>
   