.my_prof_sec{
    padding: 20px 45px;
    background-color: #fafafb;
    max-width: 50%;
    margin: 10px auto;
    border-radius: 4px;

    .prof_box{
        margin: 0 auto;
        // text-align: center;
        .user_img{
            width: 70px;
            height: 70px;
            margin: 0 auto;
            margin-bottom: 10px;
            img{
                width: 100%;
                border: 1px solid #333;
                border-radius: 50%;
            }
        }
        .user_name{
            text-align: center;
            text-transform: capitalize;
            color: #e72c30;
        }
    }
    .radiobtn{
        label{
            margin-right: 10px;
        }
    }
}