
<router-outlet></router-outlet>
<div class="my_prof_sec">
    <div class="prof_box">
        <div class="user_img">
        <img src="../assets/image/user.jpg" alt="">
    </div>
    <h3 class="user_name">{{your_profile_data.first_name}}</h3>
   <table class="table table-bordered">
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>first last</th>
        <th>email</th>
        <th>phone number</th>
        <th>subscription type</th>
    </tr>
    <tr>
        <td>{{your_profile_data.id}}</td>
        <td>{{your_profile_data.first_name}}</td>
        <td>{{your_profile_data.last_name}}</td>
        <td>{{your_profile_data.email}}</td>
        <td>{{your_profile_data.phone_number}}</td>
        <td>{{your_profile_data.subscription_type}}</td>
        
    </tr>
   </table>
     
   

        <a routerLink="subscribe">Subscription</a>
    </div>
</div>
