
<div class="play_song_box" [ngClass]="{'play_song' : false}" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div  class="play_detail">
                    <div class="song_img">
                        <img src="../assets/image/album_img.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="song_name">
                                <small>Rate Lambiya</small>
                            </div>
                            <div class="artist_name">
                                <small>Arjit Sing</small>
                            </div>
                            <p> <a href="#" class="btn btn-danger">Play song</a></p>
                        </div>
                </div>
                <ngx-slick-carousel class="carousel main_sub_slider" #slickModal="slick-carousel" [config]="slideConfig" >
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                      <div class="box">
                        <a >
                      <img src="{{ slide.img }}" alt="" width="100%"  class="song_image"/>
                      <div class="t_wrap">
                        {{slide.song_name}}
                      </div>
                    </a>
                    </div>
                    </div>
                  </ngx-slick-carousel>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

</div>