
<div class="play_song_box" [ngClass]="{'play_song' : false}" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div  class="play_detail">
                    <div class="song_img">
                        <img src="{{songs.image_path }}" alt="">
                        
                        </div>
                        <div class="detail">
                            <div class="song_name">
                                <small>{{songs.title}}</small>
                            </div>
                            <div class="artist_name">
                                <small>{{songs.category.name}}</small>
                            </div>
                            <p> <a  class="btn btn-danger">Play song</a></p>
                        </div>
                </div>
                <div class="artist_name">
                    <h4>Description</h4>
                    <small>{{songs.description}}</small>
                </div>
                <!-- <ngx-slick-carousel class="carousel main_sub_slider" #slickModal="slick-carousel" [config]="slideConfig" >
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                      <div class="box">
                        <a [routerLink]="['/home/songbox',slide.id]">
                      <img src="{{ slide.image_path }}" alt="" width="100%"  class="song_image"/>
                      <div class="t_wrap">
                        {{slide.title}}
                      </div>
                    </a>
                    </div>
                    </div>
                  </ngx-slick-carousel> -->
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

</div>