<div *ngIf="artists.length < 1 && !isfeatching">no slider</div>
<h2 class="song_types_title">Featured Artists</h2>
  <ngx-slick-carousel class="carousel song_artists" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="artists.length > 1 && !isfeatching">
  <div ngxSlickItem *ngFor="let slide of artists" class="slide">
    <div class="box">
      <a [routerLink]="['/home/songbox',slide.id]">
    <img src="{{ slide.image_path }}" alt="" width="100%"  class="song_image"/>
    <div class="t_wrap">
      {{slide.name}}
    </div>
  </a>
  </div>
  </div>
</ngx-slick-carousel><p *ngIf="isfeatching">....loading</p>