<div class="container">
    <div class="row">
  <div class="col-md-12">
    <h2 class="text-center m-3">Login</h2>
            <form [formGroup]="regristerform" (ngSubmit)="regdata(regristerform.value)">
                <div class="inputBox form-group mb-3">
                    <input type="text" id="first_name" name="name" formControlName="first_name" placeholder="please enter your first_name" class="form-control"/>
                    <!-- <label><i class="fa fa-user"></i> MobileNo</label> -->
                    <span class="text-danger" *ngIf="!first_name?.valid && (first_name?.touched || first_name?.dirty)" >
                        Please enter your username
                     </span>
                 </div>
                 <div class="inputBox form-group mb-3">
                    <input type="text" id="last_name" name="last_name" formControlName="last_name" placeholder="please enter your last_name" class="form-control"/>
                    <!-- <label><i class="fa fa-user"></i> MobileNo</label> -->
                    <span class="text-danger" *ngIf="!last_name?.valid && (last_name?.touched || last_name?.dirty)" >
                        Please enter your username
                     </span>
                 </div>
                 <div class="inputBox form-group mb-3">
                    <input type="text" id="phone_number" name="phone_number" formControlName="phone_number" placeholder="please enter your phone_number" class="form-control"/>
                    <!-- <label><i class="fa fa-eye" aria-hidden="true"></i> phone_number</label>  -->
                    <span class="text-danger" *ngIf="!phone_number?.valid && (phone_number?.touched || phone_number?.dirty)" >
                        Please enter your mobileno
                     </span>
                 </div>
              <div class="inputBox form-group mb-3">
                 <input type="text" id="email" name="email" formControlName="email" placeholder="please enter your email" class="form-control"/>
                 <!-- <label><i class="fa fa-user"></i> MobileNo</label> -->
                 <span class="text-danger" *ngIf="!email?.valid && (email?.touched || email?.dirty)" >
                     Please enter your mobile no
                  </span>
              </div>
              <div class="inputBox form-group mb-3">
                 <input type="password" id="password" name="password" formControlName="password" placeholder="please enter your password" class="form-control"/>
                 <!-- <label><i class="fa fa-eye" aria-hidden="true"></i> Password</label>  -->
                 <span class="text-danger" *ngIf="!password?.valid && (password?.touched || password?.dirty)" >
                     Please enter your password
                  </span>
              </div>
              <div class="inputBox form-group mb-3">
                <input type="password" id="password_confirmation" name="password_confirmation" formControlName="password_confirmation" placeholder="please enter your password_confirmation" class="form-control"/>
                <!-- <label><i class="fa fa-eye" aria-hidden="true"></i> password_confirmation</label>  -->
                <span class="text-danger" *ngIf="!password_confirmation?.valid && (password_confirmation?.touched || password_confirmation?.dirty)" >
                    Please enter your password_confirmation
                 </span>
             </div>
        
             <!-- <div class=" radiobtn">
                <label><i class="fa fa-transgender" aria-hidden="true"></i>&nbsp; Gender : </label>
                <label><input type="radio" name="gender" id="Male" formControlName="gender"  value="Male" /> Male </label>
                <label><input type="radio" name="gender" id="Female" formControlName="gender"  value="Female"/> FeMale</label>
                <div class="text-danger" *ngIf="!gender?.valid && (gender?.touched || gender?.dirty)">
                   please enter your gender
                 </div>
              </div> -->
              <!-- <div class="inputBox mb-3">
                <input type="file" name="imgpath" id="imgpath" formControlName="imgpath" [(ngModel)]="data" />
                <label for="fullname"><i class="fa fa-user"></i>&nbsp; SRC :</label>
                <div class="text-danger" *ngIf="!imgpath?.valid && (imgpath?.touched || imgpath?.dirty)">
                   please enter your profile
                 </div>
             </div> -->
              <button type="login" class="btn btn-primary btn-block mb-3" [disabled]="!regristerform.valid"> Login </button>
              <div class="go_regster">Not a member yet?<br>
              <a routerLink="" title="Sign Up"> Sign Up For User</a><br>
              <div class="go_regster"><a routerLink="/" title="Sign Up" class="text-success"> Back To Home</a></div>
           </div>
           </form>
          </div>
        </div>
      </div>
      <!-- <ul *ngFor="let s of storeregdata">
        <li>{{s.id}}</li>
      </ul> -->