<div class="container">
  <div class="row">
<div class="col-md-12">
          <form [formGroup]="regristerform" (ngSubmit)="regdata(regristerform)">
              <div class="inputBox form-group mb-3">
                  <input type="text" id="first_name" name="name" formControlName="first_name" placeholder="please enter your first_name" class="form-control"/>
                  <!-- <label><i class="fa fa-user"></i> MobileNo</label> -->
                  <span class="text-danger" *ngIf="!first_name?.valid && (first_name?.touched || first_name?.dirty)" >
                      Please enter your first name
                   </span>
               </div>
               <div class="inputBox form-group mb-3">
                  <input type="text" id="last_name" name="last_name" formControlName="last_name" placeholder="please enter your last_name" class="form-control"/>
                  <!-- <label><i class="fa fa-user"></i> MobileNo</label> -->
                  <span class="text-danger" *ngIf="!last_name?.valid && (last_name?.touched || last_name?.dirty)" >
                      Please enter your last name
                   </span>
               </div>
               <div class="inputBox form-group mb-3">
                  <input type="text" id="phone_number" name="phone_number" formControlName="phone_number" placeholder="please enter your phone_number" class="form-control"/>
                  <!-- <label><i class="fa fa-eye" aria-hidden="true"></i> phone_number</label>  -->
                  <span class="text-danger" *ngIf="!phone_number?.valid && (phone_number?.touched || phone_number?.dirty)" >
                      Please enter your mobileno
                   </span>
               </div>
            <div class="inputBox form-group mb-3">
               <input type="text"  name="email" formControlName="email" placeholder="please enter your email" class="form-control"/>
               <!-- <label><i class="fa fa-user"></i> MobileNo</label> -->
               <span class="text-danger" *ngIf="!email?.valid && (email?.touched || email?.dirty)" >
                   Please enter your email id
                </span>
            </div>
            <div class="inputBox form-group mb-3">
               <input type="password" id="" name="password" formControlName="password" placeholder="please enter your password" class="form-control"/>
               <!-- <label><i class="fa fa-eye" aria-hidden="true"></i> Password</label>  -->
               <span class="text-danger" *ngIf="!password?.valid && (password?.touched || password?.dirty)" >
                   Please enter your password
                </span>
            </div>
            <div class="inputBox form-group mb-3">
              <input type="password" id="password_confirmation" name="password_confirmation" formControlName="password_confirmation" placeholder="please enter your password_confirmation" class="form-control"/>
              <!-- <label><i class="fa fa-eye" aria-hidden="true"></i> password_confirmation</label>  -->
              <span class="text-danger" *ngIf="!password_confirmation?.valid && (password_confirmation?.touched || password_confirmation?.dirty)" >
                  Please enter your password confirmation
               </span>
           </div>
      
           <div class=" radiobtn">
            <label><i class="fa fa-transgender" aria-hidden="true"></i>&nbsp; subscription plane : </label>
            <label><input type="radio" name="subscription_type" id="subscription_type" formControlName="subscription_type"  value="1"/> Premium </label>
            <label><input type="radio" name="subscription_type" id="subscription_type" formControlName="subscription_type" value="2"/>VIP  </label>
            <label><input type="radio" name="subscription_type" id="subscription_type" formControlName="subscription_type" value="3"/>Free </label>
            <div class="text-danger" *ngIf="!subscription_type?.valid && (subscription_type?.touched || subscription_type?.dirty)">
               please select any one 
             </div>
          </div>
            <!-- <div class="inputBox mb-3">
              <input type="file" name="imgpath" id="imgpath" formControlName="imgpath" [(ngModel)]="data" />
              <label for="fullname"><i class="fa fa-user"></i>&nbsp; SRC :</label>
              <div class="text-danger" *ngIf="!imgpath?.valid && (imgpath?.touched || imgpath?.dirty)">
                 please enter your profile
               </div>
           </div> -->
            <button type="login" class="btn btn-primary btn-block mb-3" [disabled]="!regristerform.valid"> Login </button>
           <hr>
            <div class="go_regster">
              <!-- Aleardy regristered ?<br>
            <a routerLink="" title="Sign Up"> Login </a><br> -->
            <div class="go_regster"><a routerLink="/" title="Sign Up" > Back To Home</a></div>
         </div>
         </form>
        </div>
      </div>
    </div>
    <!-- <ul *ngFor="let s of storeregdata">
      <li>{{s.id}}</li>
    </ul> -->