@mixin cmn_flex_items {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin buttonPrimary {
    position: relative;
    background: color(pure-orange);
    color: color(pure-white);
    font-size: 14px;
    padding: 17px 46.95px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-out 0.4s;
    display: inline-block;
    z-index: 0;
   
    &::before {
        position: absolute;
        content: "";
        transition-duration: 0.4s;
        z-index: -1;
        inset: 0px auto auto 0px;
        width: 0px;
        height: 100%;
    } 
    &:hover {
        &::before {     
            width: 100%;
            background-color: color(primary-color);
           
      } 
    }
}